{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{ username | capfirst}} (Profile)
{% endblock %}

{% block body %}
<div class="mx-3 mx-md-0">
	<div class="p-3 __bg-secondary d-flex mb-3 rounded-2">
		<img class="rounded-circle me-3" src="{{ profile_img }}" width="125px" height="125px" alt="profile picture">
		<div>
			<div class="d-flex flex-column flex-md-row align-items-md-center">
				<div class="d-flex align-items-center">
					<h1 class="">@{{ username }}</h1>
					{% if username == request.user.username %}
						<a class="py-1 px-2 edit" hx-get="{% url 'accounts:profile_edit' %}" hx-target="#app-root" hx-swap="innerHtml">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
								<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
								</svg>
						</a>
					{% endif %}
					<div {% if active == True %} class="__green-circle" {%else%} class="__red-circle" {%endif%}></div>
				</div>

				<!-- /////////////////////////////////////////////////////// -->

				<div
					data-id="{{ id }}"
					{%if csrf_token %} data-csrf="{{ csrf_token }}" {%else%} data-csrf="{{ my_csrf }}" {%endif%}
					id="header_status_bar"
				>

				{% if request.user.is_authenticated %}
					{% if is_self == False %}
						<!-- Cancel Friend Request / Send Friend Request / Remove Friend -->
						{% if is_friend == False %}
							<!-- He/she sent you a request -->
							{% if request_sent == 0 %}
								<!--/////////////////////////////////////////-->
								<!--                  ACCEPT                 -->
								<!--/////////////////////////////////////////-->
								<button
									onclick="acceptFriendRequest(
										'{{pending_friend_request_id}}',
										'header_status_bar'
										)"
									id="id_accept_request"
									class="btn_requests">
									Accept
								</button>
								<!--/////////////////////////////////////////-->
								<!--                 IGNORE                  -->
								<!--//////////////////////////////////////////-->
								<button
									onclick='declineFriendRequest(
										"{{pending_friend_request_id}}",
										"header_status_bar",
									)'
									id="id_ignore_request"
									class="btn_requests">
									Ignore
								</button>
							{% endif %}
							<!-- You sent him/her a request -->
							{% if request_sent == 1 %}
								<!--/////////////////////////////////////////-->
								<!--                CANCEL                   -->
								<!--/////////////////////////////////////////-->
								<button
									data-next-url="{% url 'accounts:friend_request' %}"
									onclick="cancelFriendRequest(
										'{{ id }}',
										{% if csrf_token %} '{{ csrf_token }}' {% else %} '{{my_csrf}}' {%endif%}
									)" 
									id="id_cancel_request_btn"
									class="btn_requests">
									Invitation Sent
								</button>
							{% endif %}
							<!-- No requests has been sent -->
							{% if request_sent == -1 %}
								{% if request.user in displayed_user.profile.blocklist.all %}
									<!-- nothing to do -->
								{% else %}
									{% if displayed_user in request.user.profile.blocklist.all %}
										<!--/////////////////////////////////////////-->
										<!--                UNBLOCK                  -->
										<!--/////////////////////////////////////////-->
										<button
											onclick='blockUnblock("{{ id }}", "unblock")' 
											class="btn_requests">
											Unblock
										</button>
									{% else %}
										<!--/////////////////////////////////////////////-->
										<!--                ADD FRIEND                   -->
										<!--/////////////////////////////////////////////-->
										<button
											data-next-url="{% url 'accounts:friend_request_cancel' %}"
											onclick="sendFriendRequest('{{ id }}', {% if csrf_token %} '{{ csrf_token }}' {% else %} '{{ my_csrf }}' {%endif%})"
											class="btn_requests"
											id="id_send_friend_request_btn">
											Add Friend
										</button>
										<!--/////////////////////////////////////-->
										<!--               BLOCK                 -->
										<!--/////////////////////////////////////-->
										<button
											onclick='blockUnblock("{{ id }}", "block")' 
											class="btn_requests">
											Block
										</button>
									{% endif %}
								{% endif %}
							{% endif %}
						{% endif %}
						{% if is_friend == True %}
								<!--/////////////////////////////////////////////-->
								<!--                  UNFRIEND                   -->
								<!--/////////////////////////////////////////////-->
								<button
									onclick="removeFriend(
										'{{ id }}',
										{% if csrf_token %} '{{ csrf_token }}' {% else %} '{{my_csrf}}' {%endif%},
									)"
									id="id_unfriend_btn" 
									class="btn_requests">
									Unfriend
								</button>
								<!--/////////////////////////////////////////////-->
								<!--                  MESSAGE                    -->
								<!--/////////////////////////////////////////////-->
								<a href="/chatapp/">
									<button class="btn_requests">
										Message
									</button>
								</a>
								<!--/////////////////////////////////////////////-->
								<!--                   BLOCK                     -->
								<!--/////////////////////////////////////////////-->
								<button 
									onclick='blockUnblock("{{ id }}", "block")' 
									class="btn_requests" 
									id="id_block_btn">
									Block
								</button>
						{% endif %} <!-- if a friend -->
					{% endif %} <!-- Not self -->

				{% endif %}
			
			</div> <!-- #action_bar -->

			</div>
			<p>{{description}}</p>
			<div class="d-flex">
				<p class="me-2">wins: {{ user_stats.wins }}</p>
				<p>losses: {{ user_stats.losses }}</p>
			</div>
		</div>
	</div>
	<!-- partie historique match -->
	<div class="d-flex flex-column flex-md-row">
		<section class="w-auto __bg-secondary p-3 rounded-2" style="min-width: 508px;">
			<h3>Match History</h3>
			{% if user_stats %}
				<div style="display: grid; grid-template-columns: auto 40px 130px 40px auto; gap: 10px;">
					{% for match in user_stats.match_history %}
						<div style="text-align: right;">Me</div>
						<div style="width: 30px; height: 30px;">
							<img src="{{ request.user.profile.image.url }}" alt="Profile Image" style="width: 100%; height: 100%; border-radius: 50%; {% if match.user_score > match.opponent_score %}border: 3px solid green;{% else %}border: 3px solid red;{% endif %}">
						</div>
						<div style="font-family: Courier; font-size: 20px; text-align: center;">[{{ match.user_score }}] - [{{ match.opponent_score }}]</div>
						<div style="width: 30px; height: 30px;">
							{% for usr in all_users %}
								{% if usr.username == match.opponent %}
									<img src="{{ usr.profile.image.url }}" alt="Opponent Image" style="width: 100%; height: 100%; border-radius: 50%; {% if match.opponent_score > match.user_score %}border: 3px solid green;{% else %}border: 3px solid red;{% endif %}; margin-left: 10px;" >
								{% endif %}
							{% endfor %}
						</div>
						<div>{{ match.opponent | truncatechars:10 }}</div>
					{% endfor %}
				</div>
			{% else %}
				<p>No match history available.</p>
			{% endif %}
		</section>
		
		{% if request.user.is_authenticated and is_self == True %}
		<aside
			id="profile_widget"
			class="__bg-secondary p-3 mt-3 mt-md-0 rounded-2 ms-0 ms-md-2"
			style="
				min-width: 240px;
			"
			hx-boost="true"
			>

			<!--/////////////////////////////////////////////-->
			<!--                 FRIEND LIST                 -->
			<!--/////////////////////////////////////////////-->
			<h5>Friends ({{ friends | length }})</h5>
			<div class="users_list" id="friends_cards">
				{% for f in friends %}
				<div
					class="d-flex flex-column align-items-center p-3"
					style="background-color: #2d2b34;">
					<a 
						href="/accounts/profile/{{ f.username }}"
						hx-target="#app-root"
						hx-push-url="true">
						<img
							src="{{ f.profile.image.url }}"
							width="48px"
							height="48px"
							alt="profile picture"
						>
					</a>
					<p>{{ f.username }}</p>
				</div>
				{% endfor %}
			</div>

			<!--/////////////////////////////////////////////-->
			<!--               FRIEND REQUEST                -->
			<!--/////////////////////////////////////////////-->
			<h5 class="mt-2">Friend Requests</h5>
			<div
				data-id="{{id}}"
				{%if csrf_token %} data-csrf="{{ csrf_token }}" {%else%} data-csrf="{{ my_csrf }}" {%endif%}
				id="widget_status_bar"
			>
			{% if request.user.is_authenticated and is_self == True%}
				{% for request in friend_requests %}
				<div class="request_card">
					<a 
						hx-get="/accounts/profile/{{ request.sender.username}}"
						hx-target="#app-root"
						hx-push-url="true">
						<img src="{{ request.sender.profile.image.url }}" width="48px" height="48px" alt="profile picture">
					</a>
					<div>
						<p><b>{{ request.sender | capfirst }}</b></p>
						<div>
							<button
								onclick="acceptFriendRequest(
									'{{request.id}}',
									'profile_widget',
								)"
								class="btn_requests">
								Confirm
							</button>
							<button 
								onclick='declineFriendRequest(
									"{{request.id}}",
									"profile_widget",
								)' 
								class="btn_discrete btn_passive">
								Ignore
							</button>
						</div>
					</div>
				</div>
				{% endfor %}
			{% endif %}
			</div>

			<!--/////////////////////////////////////////////-->
			<!--                  ALL USERS                  -->
			<!--/////////////////////////////////////////////-->
			<h5 class="mt-2">All Users</h5>
			<div class="users_list">

				{% for usr in all_users %}
					{% if usr != request.user and usr not in friends and usr not in blocklist %}
						<div
							class="d-flex flex-column align-items-center p-3"
							style="background-color: #2d2b34;">
							<a 
								hx-get="/accounts/profile/{{ usr.username }}"
								hx-target="#app-root"
								hx-push-url="true">
								<img src="{{ usr.profile.image.url }}" width="48px" height="48px" alt="profile picture">
							</a>
							<p>{{ usr.username }}</p>
						</div>
					{% endif %}
				{% endfor %}
	
			</div>

			<!--/////////////////////////////////////////////-->
			<!--                  BLOCKED                    -->
			<!--/////////////////////////////////////////////-->
			<h5 class="mt-2">Blocked</h5>
			<div class="users_list mt-2">
			{% if request.user.is_authenticated and is_self == True %}

				{% if blocklist|length > 0 %}

					{% for blocked_user in blocklist %}
					<div
						class="d-flex flex-column align-items-center p-3"
						style="background-color: #2d2b34;">
						<a 
							hx-get="/accounts/profile/{{ blocked_user.username }}"
							hx-target="#app-root"
							hx-push-url="true">
							<img src="{{ blocked_user.profile.image.url }}" width="48px" height="48px" alt="profile picture">
						</a>
						<p>{{ blocked_user.username }}</p>
					</div>
					{% endfor %}

				{% endif %}
			
			{% endif %}
			</div>

		</aside>
		{% endif%}
	</div>
</div>
{% endblock %}

{% block script_body %}

	<script type="text/javascript" src="{% static 'js/friendrequests.js' %}"></script>

{% endblock %}
