POSTGRES_DB=transcendance
POSTGRES_USER=mprofett
POSTGRES_PASSWORD=123456
POSTGRES_EMAIL=mprofett@student.s19.be
CLIENT_ID=mprofett
CLIENT_SECRET=123456
GRAFANA_ADMIN_ID=mprofett
GRAFANA_ADMIN_PASSWORD=987654
SSL_CERT=/certs/cert.pem
SSL_KEY=/certs/key.pem