# pour installer de modules du projet:
# python3 -m venv tmp
# source tmp/bin/activate
# pip install -r requirements.txt
# 
# source tmp/bin/activate //pour activer l'env temp
# git push -u origin stats //pour push sur la branche stats

aiopg==1.4.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
certifi==2024.2.2
cffi==1.16.0
channels==4.0.0
channels_postgres==1.0.4
charset-normalizer==3.3.2
constantly==23.10.4
crispy-bootstrap5==2024.2
cryptography==42.0.5
daphne==4.1.2
Django==5.0.4
django-crispy-forms==2.1
django-render-block==0.9.2
hyperlink==21.0.0
idna==3.7
incremental==22.10.0
msgpack==1.0.8
pillow==10.3.0
psycopg2-binary==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pyOpenSSL==24.1.0
python-dotenv==1.0.1
requests==2.31.0
service-identity==24.1.0
six==1.16.0
sqlparse==0.5.0
Twisted==24.3.0
txaio==23.1.1
typing_extensions==4.11.0
urllib3==2.2.1
zope.interface==6.3
