{% extends 'base.html' %}
{% load static %}

{% block title %}
	Home
{% endblock %}

{% block body %}
	<div class="mx-3 mx-md-0">
		<h1 class="{% if just_logged_in %}logged-in{% endif %}">Welcome to Transcendance!</h1>
		<p>A modern version of the classic video game Pong which simulates table tennis.</p>
		<img
			class="rounded mb-3 mt-3"
			src="../../../static/images/ping-pong-the-animation.png"
			width="756px"
			height="378px"
			alt="ping pong player hitting a ball in swet"
		>
		<h2>How it works?</h2>
		<p>Two players control paddles on either side of the screen, using them to hit a ball back and forth. The goal is to make the ball pass your opponent's paddle to score points, while preventing the ball from passing your own paddle.</p>
		<p>The game is simple, with the ball moving increasingly faster as the rally continues, making each successive return more challenging. The first player to reach a set score wins the game.</p>
		<button href="/play/" class="spa-nav-item mt-3 px-3 py-2">Start Playing</button>
	</div>
{% endblock %}