{% extends 'base.html' %}
{% load static %}

{% block title %}
	Home
{% endblock %}

{% block body %}
	<div class="mx-3 mx-md-0">
		<h1>Welcome to Transcendance!</h1>
		<p>A modern version of the classic video game Pong which simulates table tennis.</p>
		<img
			class="rounded mb-3 mt-3"
			src="../../media/ping-pong-the-animation.png"
			width="756px"
			height="378px"
			alt="ping pong player hitting a ball in swet"
		>
		<h2>How it works?</h2>
		<p>Two players control paddles on either side of the screen, using them to hit a ball back and forth. The goal is to make the ball pass your opponent's paddle to score points, while preventing the ball from passing your own paddle.</p>
		<p>The game is simple, with the ball moving increasingly faster as the rally continues, making each successive return more challenging. The first player to reach a set score wins the game.</p>
		<a
			hx-get="/play/"
			hx-target="#app-root"
			hx-push-url="true">
			<button class="mt-3 px-3 py-2">Start Playing</button>
		</a>

		<!-- *************************************************************** -->
		<!--                          LEADERBOARD                            -->
		<!-- *************************************************************** -->
		<!-- <section>
			<h3>Leaderboard</h3>
		</section>
		<section class="table_body">
			<table>
				<thead>
					<tr>
						<th>Rank</th>
						<th>Player</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					{% for user in all_users %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>
								<a class="d-flex align-items-center" href="{% url 'accounts:profile'%}{{user.username}}">
									<img src="{{ user.profile.image.url }}" alt="user photo">
									<p>{{ user.username }}</p>
								</a>
							</td>
							<td>{{ user.profile.wins }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section> -->
	</div>
{% endblock %}