{% extends 'base.html' %}
{% block title %}
Chat
{% endblock %}
{% block styles %}
<style>
  .chat__item__container {
    display: flex;
    flex-direction: column;
  }
  .message-send-container {
      display: flex;
      align-items: center; /* Aligns items vertically in the middle */
      width: 100%; /* Ensure the container takes full width */
  }
  #id_message_send_input {
      flex-grow: 1; /* Allows the input to grow and fill available space */
      margin-right: 10px; /* Adds some space between the input and the button */
  }
  .message {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
    display: inline-block;
    max-width: 60%;
  }
  .own-message {
    background-color: #343435;
    margin-left: auto;
    border-bottom-right-radius: 0;
  }
  .other-message {
    background-color: #6601FE;
    margin-right: auto;
    border-bottom-left-radius: 0;
  }
  .header {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #282633;
      border-bottom: 1px solid #ddd;
      flex-direction: row;
      justify-content: space-between;
  }
  .header > div,
  .header-actions {
      display: flex;
      align-items: center;
  }

  .action-button {
      display: flex;
      cursor: pointer;
      background-color: #ddd;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      margin-left: 10px; /* Space between buttons */
      /* Add any additional styling for the buttons here */
  }
  .back-button {
      cursor: pointer;
      background-color: #ddd;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      margin-right: 10px; /* Added margin for spacing */
  }
  .user-info {
      display: flex;
      align-items: center; /* Ensure the image and the username are aligned */
  }
  .user-info::before {
      margin-right: 10px;
      color: #ddd; /* Adjust color as needed */
      align-self: stretch; /* Make the bar stretch to fill the parent's height */
      border-right: 1px solid #ddd; /* If you prefer a line instead of a text bar */
  }
  .user-info a {
      display: flex; /* Make the link a flex container */
      align-items: center; /* Center items vertically */
      text-decoration: none; /* Remove underline from the link */
      color: inherit; /* Use the parent's text color */
  }
  .user-image {
      margin-right: 10px; /* Ensure spacing between the image and the username */
      border-radius: 5px; /* Optional: Adds rounded corners to the image */
      width: 30px; /* Adjust based on your preference */
      height: 30px; /* Adjust based on your preference */
      object-fit: cover; /* Ensures the image covers the area, useful for non-square images */
  }
</style>
{% endblock %}


{% block body %}
<div class="header">
  <div>
    <button class="back-button" onclick="window.history.back();">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
      </svg>
    </button>
    <div class="user-info">
      <a id="viewProfile">
        <img src="{{ profile.image.url }}" alt="User Image" class="user-image">
        <span class="user-name" id="chatWith"></span>
      </a>
    </div>
  </div>
  <div class="header-actions">
    <button class="action-button" id="blockUser" onclick='blockUnblock("{{ profile.user.id }}", "block", "true")'>
      <svg
        onclick="blockUnblock( '{{ other_user.id }}', 'block', 'true', )"
        data-id="{{id}}"
        {%if csrf_token %} data-csrf="{{ csrf_token }}" {%else%} data-csrf="{{ my_csrf }}" {%endif%}
        style="margin-right:5px;" xmlns="http://www.w3.org/2000/svg"
        width="16" height="16" fill="currentColor"
        class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
      </svg>  Block
    </button>
  </div>
</div>
<br>
<div class="chat__item__container" id="id_chat_item_container" style="font-size: 20px">
  {% for i in messages %}
  <div class="{% if i.user_id == user_id %}message own-message{% else %}message other-message{% endif %}">
      {{ i.content }}
    </div>
  {% endfor %}
</div>
<br>
<div class="message-send-container">
  <input type="text" id="id_message_send_input" placeholder="Type your message..." />
  <button type="submit" id="id_message_send_button">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
      <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
    </svg>
  </button>
  </div>

  <script>
    const roomSlug = "{{ slug }}";
    const roomName = "{{ room_name }}";
    const username = "{{ request.user.username }}";
    const chatSocket = new WebSocket("wss://" + window.location.host + "/ws/chat/" + roomSlug + "/");
  
    chatSocket.onopen = function (e) {
      console.log("The connection was set up successfully!");
    };
  
    chatSocket.onclose = function (e) {
      console.error("Chat socket closed unexpectedly.");
    };
  
    document.querySelector("#id_message_send_input").focus();
    document.querySelector("#id_message_send_input").onkeyup = function (e) {
      if (e.keyCode === 13) {  // Enter key
        document.querySelector("#id_message_send_button").click();
      }
    };
  
    document.querySelector("#id_message_send_button").onclick = function (e) {
      const messageInputDom = document.querySelector("#id_message_send_input");
      const message = messageInputDom.value;
      chatSocket.send(JSON.stringify({ 
        message: message, 
        username: username, 
        room_name: roomName 
      }));
      messageInputDom.value = ""; // Clear the message input field.
    };
  
    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      const messageElement = document.createElement("div");
      messageElement.innerText = data.message;
  
      // Apply different classes based on the sender
      if (data.username === username) {
        messageElement.className = "message own-message";
      } else {
        messageElement.className = "message other-message";
      }
  
      document.querySelector("#id_chat_item_container").appendChild(messageElement);
    };
  
    function updateChatHeader() {
        const usernames = roomSlug.split('_'); // Split the slug to get both usernames
        const otherUsername = usernames.find(u => u !== username); // Find the username that is not the current user's
        document.getElementById('chatWith').textContent = `${otherUsername}`;
  
        const profileUrl = `https://localhost:8000/accounts/profile/${otherUsername}`;
        document.getElementById('viewProfile').href = profileUrl;
    }
  
    document.getElementById('invitePlayer').addEventListener('click', function() {
        // Code to invite a player
        alert('Invite player clicked!');
    });
  
    // document.getElementById('blockUser').addEventListener('click', function() {
    //     // Code to block a user
    //     alert('Block user clicked!');
    // });
  
    updateChatHeader();

    function blockUnblock(id, action, fromChat) {
        var url = `/accounts/blocking?user_id=${id}&action=${action}`
        $.ajax({
            type: "GET",
            dataType: "json",
            url: url,
            timaout: 5000,
            success: function(data) {
                onBlockedUnblocked(action, fromChat);
            },
            error: function(data) {
                alert(data['response'], 'Error');
            },
            complete: function(data) {
                
            },
        })
    }

    function onBlockedUnblocked(action, fromChat) {

        if (fromChat === "true") {
            // redirect to global chat page
            redirectToPage("/chatapp/");
        }
    }

    function redirectToPage(url) {
        const host = window.location.host
        window.location.href = `http://${host}${url}`;
    }
      
  </script>
{% endblock %}

{% block script_body %}

{% endblock %}