{% extends 'base.html' %}
{% load static %}

{% block title %}
    Pong Game
{% endblock %}

{% block styles %}
    <style>
        body {
            overflow: hidden;
        }
        .game-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 60px);
        }
        canvas {
            border: 2px solid #1C1A24;
            border-radius: 10px;
        }
        .pong-canvas {
            background-color: blue;
}
    </style>
{% endblock %}

{% block body %}
    <div class="game-container">
        <canvas id="pongCanvas" class="pong-canvas" width="800" height="400"></canvas>
    </div>
    <script src="{% static 'js/game_logic.js' %}"></script>
{% endblock %}