{% extends 'base.html' %}
{% load static %}

{% block title %}
    Play
{% endblock %}

{% block styles %}
<style>
    .container {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }

    .box {
        width: 45%;
        height: 300px;
        background-color: #7011F4;
        border: 2px solid #1C1A24;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        margin: 10px 0;
    }
    .button {
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <a href="{% url 'quick_play' %}" class="box">
        <div>
            <h2>Quick play</h2>
        </div>
    </a>
    <a href="{% url 'quick_play' %}" class="box">
        <div>
            <h2>Tournaments</h2>
        </div>
    </a>
</div>
{% endblock %}