{% extends 'base.html' %}
{% load static %}

{% block title %}
    Quickplay
{% endblock %}
{% block styles %}
<style>
    body {
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        height: 50vh;
        justify-content: space-between;
    }

    .box {
        width: 40%; /* Adjust the width as needed */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%; /* Adjust the height as needed */
        border: 2px solid #000;
        box-sizing: border-box;
        margin: 0 5%; /* Adjust the margin to add space between boxes */
        position: relative;
    }

    .box:nth-child(1) {
        background-color: #7011F4;
    }

    .box:nth-child(2) {
        background-color: #7011F4;
    }

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 30px; /* Adjust the font size as needed */
        margin: 5px 0; /* Adjust the margin as needed */
    }

    .user-image {
        margin-bottom: 10px; /* Ensure spacing between the image and the username */
        border-radius: 5px; /* Optional: Adds rounded corners to the image */
        width: 80px; /* Adjust based on your preference */
        height: 80px; /* Adjust based on your preference */
        object-fit: cover; /* Ensures the image covers the area, useful for non-square images */
    }

    .username-input {
        width: 80%; /* Adjust the width of the input field as needed */
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 16px;
    }

    .ready-box {
        position: absolute;
        bottom: 10px;
        width: calc(100% - 20px);
        text-align: center;
        cursor: pointer;
    }

    .ready-box p {
        margin: 0;
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
    }

    .ready-red {
        background-color: #ff0000;
    }

    .ready-green {
        background-color: #00ff00;
    }
</style>
{% endblock %}

{% block body %}
<body>
    <div class="container">
        <div class="box" style="border-radius: 10px;">
            <div class="user-info">
                <img src="{{ request.user.profile.image.url }}" alt="User Image" class="user-image" style="border-radius: 50%;">
                <h2>{{ request.user.username }}</h2>
            </div>
            <div class="ready-box ready-red" onclick="toggleReady(this)">
                <p>Ready ?</p>
            </div>
        </div>
        <div class="box" style="border-radius: 10px;">
            <div class="user-info">
                <img id="opponent-image" src="{% static '../media/default.png' %}" alt="Opponent Image" class="user-image" style="border-radius: 50%;">
                <input type="text" id="opponent-username" class="username-input" placeholder="Enter Username" oninput="validateOpponentDebounced()">
                <div class="ready-box ready-red" onclick="toggleReady(this)">
                    <p>Ready ?</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        var player1ready = false;
        var player2ready = false;

        function toggleReady(element) {
            element.classList.toggle('ready-red');
            element.classList.toggle('ready-green');
            // Check if both players are ready
            var allBoxes = document.querySelectorAll('.ready-box');
            var allGreen = true;
            allBoxes.forEach(function(box) {
                if (!box.classList.contains('ready-green')) {
                    allGreen = false;
                }
            });
            // If both players are ready, redirect after 2 seconds
            if (allGreen) {
                setTimeout(function() {
                    window.location.href = "{% url 'pong_game' %}";
                }, 2000);
                    }
                }
                function debounce(func, delay) {
            let timeoutId;
            return function() {
                const context = this;
                const args = arguments;
                clearTimeout(timeoutId);
                timeoutId = setTimeout(() => {
                    func.apply(context, args);
                }, delay);
            };
        }

        const validateOpponentDebounced = debounce(validateOpponent, 500);

        function validateOpponent() {
            var opponentInput = document.getElementById('opponent-username');
            var opponentImage = document.getElementById('opponent-image');
            var opponentName = opponentInput.value.trim();

            // Vérifier si le nom d'utilisateur est vide
            if (opponentName === '') {
                opponentImage.src = '{% static "../media/default.png" %}';
                return;
            }

            // Envoyer une requête AJAX au serveur pour vérifier si l'utilisateur existe
            fetch('/play/check-user/' + opponentName + '/')
                .then(response => response.json())
                .then(data => {
                    if (data.exists) {
                        opponentImage.src = data.profile_image;
                    } else {
                        opponentImage.src = data.profile_image;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
</body>
{% endblock %}