{% extends 'base.html' %}
{% load static %}

{% block title %}
    Tournaments
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
<h1>Select Winner</h1>
    <form method="post" action="{% url 'record_game_winner' match.id %}">
        {% csrf_token %}
        <label for="winner">Select Winner:</label>
        <select name="winner" id="winner">
            <option value="{{ match.participant1.id }}">{{ match.participant1.username }}</option>
            <option value="{{ match.participant2.id }}">{{ match.participant2.username }}</option>
        </select>
        <button type="submit">Record Winner</button>
    </form>
{% endblock %}