{% extends 'base.html' %}
{% load static %}

{% block title %}
    Tournaments
{% endblock %}

{% block body %}
<div class="container_tournament">
    <h1>Tournaments</h1>
</div>
<h4>create Tournaments :</h4>
    <form action="{% url 'create_tournament' %}" method="post">
        {% csrf_token %}
        <label for="tournament_name">Tournament Name:</label>
        <input type="text" id="tournament_name" name="name" required>
        
        <label for="tournament_players">Number of Players:</label>
        <select id="tournament_players" name="number_of_players" required>
            <option value="4">4 Players</option>
            <option value="8">8 Players</option>
            <option value="16">16 Players</option>
        </select>
        
        <button type="submit" class="btn btn-primary">Create Tournament</button>
    </form>

    <hr>

    <!-- Liste des tournois -->
    {% if tournaments %}
        <h2>Existing Tournaments:</h2>
        <ul>
            {% for tournament in tournaments %}
                <li>
                    <a href="{% url 'tournament_detail' tournament.id %}">{{ tournament.name }}</a>
                    ({{ tournament.number_of_players }} Players)
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tournaments available.</p>
    {% endif %}

{% endblock %}