{% extends 'base.html' %}
{% load static %}

{% block title %}
    Tournaments
{% endblock %}

{% block styles %}
<style>

.container{
    display: flex;
    margin-top: 10px;
}

.branch_1{
    height: 620px;
    width: 400px;
    flex-wrap: wrap;
    display: flex;

}
.branch_2{
    height: 620px; /*new value for symmetrical bracket 8 players*/
    width: 400px;
    flex-wrap: wrap;
    display: flex;
    margin-top: 50px;
}

.object_1:nth-child(even) , .object_2:nth-child(even){
display: grid;
grid-template-columns: 230px 100px;
grid-template-rows: 50px 50px;
background-color: rgb(153, 153, 153);
width: 300px;
padding-top: 4px;
padding-left: 4px;
}

.object_1:nth-child(odd) , .object_2:nth-child(odd){
    display: grid;
    grid-template-columns: 230px 100px;
    grid-template-rows: 50px 50px;
    background-color: rgb(110, 110, 110);
    width: 300px;
    padding-top: 4px;
    padding-left: 4px;
    }

.object_1_winner:nth-child(odd){
    display: grid;
    grid-template-columns: 230px 100px;
    grid-template-rows: 50px 50px;
    background-color: #008000;
    width: 300px;
    padding-top: 4px;
    padding-left: 4px;
}

.object_1_winner:nth-child(even){
    display: grid;
    grid-template-columns: 230px 100px;
    grid-template-rows: 50px 50px;
    background-color: #008000;
    width: 300px;
    padding-top: 4px;
    padding-left: 4px;
}

.Name{
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 4px;
    background-color: #7011F4;
}

.match{
    height: 150px; /*new value for symmetrical bracket 8 players*/
}

.object_2{
    margin-top: 35%; /*new value for symmetrical bracket 8 players*/
}

.match_02{
    height: 300px; /*new value for symmetrical bracket 8 players*/
}

</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="branch_1">
        {% for match in matches %}
            {% if match.round_number == 1 %}
            <div class="match">
                {% if match.winner %}
                <div class="object_1_winner"><h3>WINNER --> {{ match.winner.username }}</h3></div>
                {% else %}
                <div class="object_1">
                    <div class="Name">{{ match.participant1 }}</div><br>
                    <div class="Name">{{ match.participant2 }}</div>
                </div>
                <form method="post" action="{% url 'start_game' match.id %}">
                    {% csrf_token %}
                    <button type="submit">Start Game</button>
                </form>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="branch_2">
        {% for match in matches %}
            {% if match.round_number == 2 %}
            <div class="match_2">
                <div class="object_2">
                    {% if match.winner %}
                    <div class="object_2_winner"><h3>WINNER --> {{ match.winner.username }}</h3></div>
                    {% else %}
                        <div class="Name">{{ match.participant1 }}</div><br>
                        <div class="Name">{{ match.participant2 }}</div>
                    </div>
                    <form method="post" action="{% url 'start_game' match.id %}">
                        {% csrf_token %}
                        <button type="submit">Start Game</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% for match in matches %}
    {% if match.round_number == 2 %}
        {% if match.winner %}
        <div class="winner-message">
            <h3>The winner of the tournament is {{ match.winner }}!</h3>
        </div>
        <div class="end-tournament">
            <form method="post" action="{% url 'end_tournament' tournament.id %}">
                {% csrf_token %}
                <button type="submit">End Tournament</button>
            </form>
        </div>
        {% endif %}
    {% endif %}
{% endfor %}
{% endblock %}